<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Kite_APP">
    <classes>
      <class name="TEST_CLASSES.BaseUtilityKite"/>
    </classes>
  </test> <!-- Kite_APP -->
</suite> <!-- Suite -->
